
Project Pertama - HadiansyahAL/Library/*
Project Pertama - HadiansyahAL/Log/*
Project Pertama - HadiansyahAL/Temp/*
Project Pertama - HadiansyahAL/.vsconfig
Project Pertama - HadiansyahAL/*.sln

\[HadiansyahAL\]-GamePinball/Library/*
\[HadiansyahAL\]-GamePinball/Log/*
\[HadiansyahAL\]-GamePinball/Temp/*
\[HadiansyahAL\]-GamePinball/.vsconfig
\[HadiansyahAL\]-GamePinball/*.sln

